In [2]:
# 1.TO ADD NEW ELEMENTS TO THE END OF THE LIST
my_list = [1,2,3]
new_element = 4
my_list.append(new_element)
print(my_list)

[1, 2, 3, 4]

In [3]:
# 2. reverse the elements 
my_list =[1,2,3,4]
my_list.reverse()
print(my_list)

[4, 3, 2, 1]

In [5]:
# 3.same list multiple times display
my_list =[1,2,3]
num_times =4 # number of times to display 
for i in range (num_times):
    print(my_list)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]
[1, 2, 3]

In [7]:
# 4.concatenate the list
list1 = [1,2,3]
list2 = [4,5,6]
concatenated_list = list1 + list2
print(concatenated_list)

[1, 2, 3, 4, 5, 6]

In [8]:
# 5.sort elements in ascending order 
my_list = [1,4,3,9,6]
my_list.sort()
print(my_list)

[1, 3, 4, 6, 9]

In [12]:
# 2.2 to add new elements to end the tuples
my_tuple =(1,2,3)
new_element = 4
new_tuple = my_tuple+(new_element,)
print(new_tuple)

(1, 2, 3, 4)

In [31]:
#2.3 reverse elements in tuple 
my_tuple =(1,2,3,4)
t=my_tuple[::-1]
print(t)

(4, 3, 2, 1)

In [32]:
 
# 2.4 same tuple multiple times display
my_tuple =(1,2,3)
num_times =4 # number of times to display 
for i in range (num_times):
    print(my_tuple)

(1, 2, 3)
(1, 2, 3)
(1, 2, 3)
(1, 2, 3)

In [15]:
# 4.concatenate the tuple
tuple1 = (1,2,3)
tuple2 = (4,5,6)
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

In [16]:
# 5.sort elements in ascending order 
my_tuple = (1,4,3,9,6)
my_tuple.sort()
print(my_tuple)

[1, 3, 4, 6, 9]

In [17]:
# 3 .1 list with integers
my_list=[1,2,3,4,5,6,7,8,9,10]
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
# 3 .2 last number displaying 
my_list=[1,2,3,4,5,6,7,8,9,10]
last_number = my_list[-1]
print(last_number)

10

In [19]:
# 3.3 command for displaying values in the list 
my_list=[1,2,3,4,5,6,7,8,9,10]
subset=my_list[0:4]
print(subset)

[1, 2, 3, 4]

In [20]:
 # 3.4 command for displaying values in the list 
my_list=[1,2,3,4,5,6,7,8,9,10]
subset=my_list[2:]
print(subset)

[3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
# 3.5 command for displaying values in the list 
my_list=[1,2,3,4,5,6,7,8,9,10]
subset=my_list[:6]
print(subset)

[1, 2, 3, 4, 5, 6]

In [23]:
 #4.1 to display elements 10 and 50 
tuple1 =(10,50,20,40,30)
element1 = tuple1[0]
print(element1)
element2 = tuple1[1]
print(element2)

10
50

In [24]:
#4.2 length of tuple 
my_tuple =(10,50,20,40,30)
print(len(my_tuple))

5

In [26]:
#4.3  max of tuple 
my_tuple =(10,50,20,40,30)
print(max(my_tuple))

50

In [27]:
#4.4 adding of tuple 
my_tuple =(10,50,20,40,30)
print(sum(my_tuple))

150

In [33]:
# 4.5 same tuple multiple times display
my_tuple =(10,50,20,40,30)
num_times =4 # number of times to display 
for i in range (num_times):
    print(my_tuple)

(10, 50, 20, 40, 30)
(10, 50, 20, 40, 30)
(10, 50, 20, 40, 30)
(10, 50, 20, 40, 30)

In [34]:
#5.1 calculating length of string 
my_string=" hello world"
print(len(my_string))

12

In [35]:
#5.2 reverse words in strings
my_string="hello world"
words = my_string.split()
reversed_words = words[::-1]
reversed_string =''.join(reversed_words)
print(reversed_string)

worldhello

In [36]:
# 5.4 concatenation of strings  
string1 = "hello"
string2="world"
concatenated_string=string1+string2
print(concatenated_string)

helloworld

In [39]:
# 5.5 slicing to display  
str1 = "south india"
India_part = str1[6:]
print(India_part)

india

In [40]:
#5.3 same string multiple times
my_string = "hello world!"
num_times=3
repeated_string = my_string*num_times
print(repeated_string)

hello world!hello world!hello world!

In [42]:
#6.1 creating dictnoary
my_dict ={
    "name":"john",
    "age":30,
    "city":"new york"
}

In [43]:
#6.2 accesing values and keys  
keys = my_dict.keys()
print("keys:",keys)
values = my_dict.values()
print("values:",values)
for key,value in my_dict.items():
    print("Key:",key,"value:",value)

keys: dict_keys(['name', 'age', 'city'])
values: dict_values(['john', 30, 'new york'])
Key: name value: john
Key: age value: 30
Key: city value: new york

In [44]:
 # 6.3 update the dict using function 
    def update_dict(my_dict):
    my_dict["new_key"] = "new_value"  # Add or update a key-value pair
    return my_dict

my_dict = {
    "name": "John",
    "age": 30,
    "city": "New York"
}


updated_dict = update_dict(my_dict)

print(updated_dict)

{'name': 'John', 'age': 30, 'city': 'New York', 'new_key': 'new_value'}

In [45]:
#6.4 clear and delete dict 
del my_dict["age"]
my_dict.clear()

In [46]:
# 7 insert to number to any position 
my_list = [1, 2, 3, 4, 5]
element_to_insert = 99
position_to_insert = 2  
my_list.insert(position_to_insert, element_to_insert)
print(my_list)

[1, 2, 99, 3, 4, 5]

In [47]:
 # 8 program to delete an from a list 
my_list = [1, 2, 3, 4, 5]
index_to_delete = 2  
del my_list[index_to_delete]
print(my_list)

[1, 2, 4, 5]

In [48]:
#9 displaying 1 to 100 
for number in range(1, 101):
    print(number)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [49]:
#10.sum of all times in a tuple 
my_tuple = (1, 2, 3, 4, 5)
sum_of_elements = sum(my_tuple)
print("Sum of elements:", sum_of_elements)

Sum of elements: 15

In [3]:
 #11
function_dict = {
    "Square": lambda x: x ** 2,
    "Cube": lambda x: x ** 3,
    "Squareroot": lambda x: x ** 0.5
}


x = float(input("Enter a number: "))

total = 0
for function_name, func in function_dict.items():
    result = func(x)
    total += result
    print(f"{function_name}({x}) = {result}")
print("Sum of outputs:", total)

Enter a number: 10
Square(10.0) = 100.0
Cube(10.0) = 1000.0
Squareroot(10.0) = 3.1622776601683795
Sum of outputs: 1103.1622776601685

In [5]:
 #12 find the words from the list that are second character in upper case  
words = ['hello', 'Dear', 'how', 'ARe', 'You']
result_words = []
for word in words:
    if len(word) >= 2 and word[1].isupper():
        result_words.append(word)
print("Words with a second uppercase character:", result_words)

Words with a second uppercase character: ['ARe']

In [3]:
#13 weight on the moon finding 
WeightOnEarth = {'John': 45, 'Shelly': 65, 'Marry': 35}
GMoon = 1.622
GEarth = 9.81
WeightOnMoon = map(lambda weight: (weight * GMoon) / GEarth, WeightOnEarth.values())
WeightOnMoonDict = dict(zip(WeightOnEarth.keys(), WeightOnMoon))
for name, weight in WeightOnMoonDict.items():
    print(f"{name}'s weight on the Moon: {weight} kg")

John's weight on the Moon: 7.440366972477065 kg
Shelly's weight on the Moon: 10.747196738022426 kg
Marry's weight on the Moon: 5.786952089704383 kg

# control structures

In [7]:
# 1 FIRST N PRIME NUMBERS 
def Prime(n):  
    for i in range(2,n//2+1):  
        if(n%i==0):  
            return(0)  
    return(1)  
  
N=int(input("Enter N:"))  
i=2 
lst=[] 
while(1):  
    if(Prime(i)):  
        lst.append(i) 
        if(len(lst)==N): 
            break 
    i+=1 
print("First "+str(N)+" Prime numbers are:",end="") 
print(*lst)

Enter N:10
First 10 Prime numbers are:2 3 5 7 11 13 17 19 23 29

In [4]:
#2.salary of an employee
basic_salary = float(input("Enter Basic Salary: "))
hra = float(input("Enter HRA: "))
ta = float(input("Enter TA: "))
da = float(input("Enter DA: "))
gross_salary = basic_salary + hra + ta + da
tax = 0.10 * gross_salary
net_salary = gross_salary - tax
print(f"Gross Salary: {gross_salary}")
print(f"Tax: {tax}")
print(f"Net Salary: {net_salary}")

Enter Basic Salary: 100000
Enter HRA: 10
Enter TA: 10
Enter DA: 10
Gross Salary: 100030.0
Tax: 10003.0
Net Salary: 90027.0

In [5]:
#3 search string in the list 
l = [1, 2.0, 'have', 'a', 'geeky', 'day']
s = 'geeky' 
if s in l:
    print(f'{s} is present in the list')
else:
    print(f'{s} is not present in the list')

geeky is present in the list

In [6]:
#4 calculation of upper case and lower case 
def string_test(s):
    d={"UPPER_CASE":0, "LOWER_CASE":0}
    for c in s:
        if c.isupper():
           d["UPPER_CASE"]+=1
        elif c.islower():
           d["LOWER_CASE"]+=1
        else:
           pass
    print ("Original String : ", s)
    print ("No. of Upper case characters : ", d["UPPER_CASE"])
    print ("No. of Lower case Characters : ", d["LOWER_CASE"])

string_test('The quick Brown Fox')

Original String :  The quick Brown Fox
No. of Upper case characters :  3
No. of Lower case Characters :  13

In [9]:
#5 sum of add numbers and even numbers
sum_odd = 0
sum_even = 0

for number in range (12,38):
    if number%2== 0:
        sum_even+= number
    else:
        sum_odd+= number
print ("sum of even numbers ",sum_even)
print("sum of odd numbers",sum_odd)

sum of even numbers  312
sum of odd numbers 325

In [10]:
#6 print  a table for any number 
number = int(input ("Enter the number of which the user wants to print the multiplication table: "))          
print ("The Multiplication Table of: ", number)    
for count in range(1, 11):      
   print (number, 'x', count, '=', number * count)

Enter the number of which the user wants to print the multiplication table: 10
The Multiplication Table of:  10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [13]:
#7 sum of first 10 prime numbers 
last_number = 10
print ("We will find the sum of prime numbers in python upto", last_number)
sum = 0
for number in range(2, last_number+1):
    i = 2
    for i in range(2, number):
        if (int(number % i) == 0):
            i = number
            break;
#Only if the number is a prime number, continue to add it.
    if i is not number:
        sum = sum + number
print("\nThe sum of prime numbers in python from 1 to ", last_number, " is :", sum)

We will find the sum of prime numbers in python upto 10

The sum of prime numbers in python from 1 to  10  is : 15

In [14]:
#8 arthamatic using nested if 
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
operation = input("Enter the arithmetic operation (+, -, *, /): ")

if operation == '+':
    result = num1 + num2
elif operation == '-':
    result = num1 - num2
elif operation == '*':
    result = num1 * num2
elif operation == '/':

    if num2 != 0:
        result = num1 / num2
    else:
        result = "Division by zero is not allowed"
else:
    result = "Invalid operation"

print(f"Result: {result}")

Enter the first number: 10
Enter the second number: 20
Enter the arithmetic operation (+, -, *, /): +
Result: 30.0

In [15]:
# 9 Python Program to convert temperature in celsius to fahrenheit

celsius = 37.5

# calculate fahrenheit
fahrenheit = (celsius * 1.8) + 32
print('%0.1f degree Celsius is equal to %0.1f degree Fahrenheit' %(celsius,fahrenheit))

37.5 degree Celsius is equal to 99.5 degree Fahrenheit

In [16]:

#10.max and min number
def max_min(data):
  l = data[0]
  s = data[0]
  for num in data:
    if num> l:
      l = num
    elif num< s:
        s = num
  return l, s

print(max_min([0, 10, 15, 40, -5, 42, 17, 28, 75]))

(75, -5)

In [17]:
#11.number of seconds in 30 day month 30 days 24 hrs
days_per_month = 30
hours_per_day = 24
minutes_per_hour = 60
seconds_per_minute = 60
total_seconds = days_per_month * hours_per_day * minutes_per_hour * seconds_per_minute
print(f"Number of seconds in a 30-day month: {total_seconds} seconds")

Number of seconds in a 30-day month: 2592000 seconds

In [18]:
#12.Python program to print the Number of seconds in Year
days=365
hours=24
minutes=60
seconds=60
print("Number of seconds in a year : ",days*hours*minutes*seconds)

Number of seconds in a year :  31536000

In [19]:
#13.Average speed of the train 

average_speed_mph = 150  
distance_miles = 414    


time_hours = distance_miles / average_speed_mph


print(f"It will take {time_hours:.2f} hours for the train to travel from London to Glasgow.")

It will take 2.76 hours for the train to travel from London to Glasgow.

In [20]:
#14.days in each school year
days_in_each_school_year = 192
school_years = range(7, 12)
total_hours_in_school = 0
for year in school_years:
    total_hours_in_school += year * days_in_each_school_year * 6
print(f"Total hours spent in school from year 7 to year 11: {total_hours_in_school} hours")

Total hours spent in school from year 7 to year 11: 51840 hours

In [21]:
#15 youngest age of ram sam khan

ram_age = int(input("Enter Ram's age: "))
sam_age = int(input("Enter Sam's age: "))
khan_age = int(input("Enter Khan's age: "))


if ram_age >= sam_age and ram_age >= khan_age:
    eldest = "Ram"
    if sam_age <= khan_age:
        youngest = "Sam"
    else:
        youngest = "Khan"
elif sam_age >= ram_age and sam_age >= khan_age:
    eldest = "Sam"
    if ram_age <= khan_age:
        youngest = "Ram"
    else:
        youngest = "Khan"
else:
    eldest = "Khan"
    if ram_age <= sam_age:
        youngest = "Ram"
    else:
        youngest = "Sam"


print(f"The eldest among Ram, Sam, and Khan is {eldest}.")
print(f"The youngest among Ram, Sam, and Khan is {youngest}.")

Enter Ram's age: 12
Enter Sam's age: 13
Enter Khan's age: 24
The eldest among Ram, Sam, and Khan is Khan.
The youngest among Ram, Sam, and Khan is Ram.

In [32]:
#16 rotate a list by right n times
n = 3

list_1 = [1, 2, 3, 4, 5, 6]
list_1 = (list_1[len(list_1) - n:len(list_1)] + list_1[0:len(list_1) - n])
print(list_1)

[4, 5, 6, 1, 2, 3]

In [26]:
#17.1 pattern factorial 
from math import factorial
n = 7
for i in range(n):
    for j in range(n-i+1): 
        print(end=" ")
    for j in range(i+1):
        print(factorial(i)//(factorial(j)*factorial(i-j)), end=" ")
 
    
    print()

        1
       1 1
      1 2 1
     1 3 3 1
    1 4 6 4 1
   1 5 10 10 5 1
  1 6 15 20 15 6 1

In [28]:
#17.2 pattern python 
str="PYTHON"
for i in range(0,6):
    print()
    for j in range(0,i+1):
        print(str[j], end=' ')

P
P Y
P Y T
P Y T H
P Y T H O
P Y T H O N

In [29]:
#17.3 pattern 5 star
for i in range(1,6):
        print()
        for j in range(i):
             print("*", end= ' ')

*
* *
* * *
* * * *
* * * * *

In [1]:
# 17.4 6 star pattern 
def triangle(n):
     
    
    k = n - 1
 
    
    for i in range(0, n):
        for j in range(0, k):
            print(end=" ")
        k = k - 1
        for j in range(0, i+1):
            print("* ", end="")
        print("\r")
n = 5
triangle(n)

    *
   * *
  * * *
 * * * *
* * * * *